<div class="container_big-card">
    <div class="big-card_photo">
        <img 
        src="https://arquivo.devmedia.com.br/noticias/documentacao/documentacao_angular-cli-como-rodar-testes-e-checar-o-codigo_38248.png" 
        alt="img.2"
        >
    </div>

    <div class="big-card_title">
        <h1><a href="">Saiu a nova versão do Angular</a></h1>
    </div>

    <div class="big-card_desc">
        <p>
            Lorem ipsum dolor sit amet consectetur adipisicing elit. At tenetur molestiae, 
            voluptas id sequi nostrum laboriosam autem! Illo est consequuntur, 
            veritatis, ipsum labore voluptate amet,
            perferendis dignissimos quam reiciendis cupiditate.
        </p>
    </div>
</div>