<div class="small-card">
    <div class="container_small-card-content">
        <div class="small-card_photo">
            <img
            src="{{ photoCover }}"
            alt="photo">
        </div>
        <div class="small-card_noticia">
            <div class="small-card_title">
                    <h1>{{ cardTitle }}</h1>
            </div>
            <div class="small-card-description">
                <p>
                    {{ cardDescription}}
                </p>
            </div>
        </div>
    </div>
    <div class="container_small-card_line">
        <hr/>
    </div>
</div>
