<div class="small-card">
    <div class="container_small-card-content">
        <div class="small-card_photo">
            <img
            src="https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTNyg8DH0XGrW_jA3EWSSI9hhcRP-5thysLDxw7tsAHJ5ZEeMFpSEoatqZOSu0W3UAzVMw&usqp=CAU"
            alt="photo">
        </div>
        <div class="small-card_title">
                <h1>small-card works!</h1>
        </div>
    </div>
    <div class="container_small-card_line">
        <hr/>
    </div>
</div>
