.container_content{
    width: 100%;
    height: 100vh;

    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 20px 0px 0px 0px;
}
.content_cover > img{
    border: 5px solid #eee;
    width: 500px;
    min-width: 500px;
    height: 300px;
}
.content_description{
    margin: 15px 0px 0px 0px;
}
.content_description > p{
    width: 500px;
    margin: 15px 0px 0px 0px;
    color: #ddd;
}
.content_description > a:hover{
    color: #999;
}